In [12]:
import pandas as pd
df = pd.read_html('https://www.lineups.com/mlb/lineups')

In [35]:
pirates = df[14]

pirates['Bats'] = pirates['Pirates Hitters'].str.extract(r'\(([A-Z])\)')
pirates['Position'] = pirates['Pirates Hitters'].str.extract(r'(\w+) \(')
pirates['Name'] = pirates['Pirates Hitters'].str.extract(r'^\d+[\. ]+(\w+[\. ]+[\w\-]+)')

In [57]:
pirates['Pirates Hitters'].str.strip()

0     1.  E. Gonzalez  E. Gonzalez  ,  SS (R)
1         2.  C. Tucker  C. Tucker  ,  CF (S)
2         3.  K. Newman  K. Newman  ,  2B (R)
3             4.  J. Bell  J. Bell  ,  1B (S)
4    5.  J. Stallings  J. Stallings  ,  C (R)
5           6.  C. Moran  C. Moran  ,  DH (L)
6           7.  K. Hayes  K. Hayes  ,  3B (R)
7       8.  A. Frazier  A. Frazier  ,  LF (L)
8           9.  J. Osuna  J. Osuna  ,  RF (R)
Name: Pirates Hitters, dtype: object

In [51]:
pirates_pitchers = df[15]

pirates_pitchers['Throws'] = pirates_pitchers['Pirates Pitchers'].str.extract(r'\((\w+)\)')

In [52]:
pirates_pitchers

,Pirates Pitchers,ERA,K/9,BB/9,Salary,Proj,Throws
0,"J. Musgrove J. Musgrove (R), 0-3",6.75,10.43,6.75,"$5,700 $6,700",7.6 pts 0 pts pts,R